body {
    background-color: #e3d5ca;
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: rgb(58, 17, 2);
    font-family: "Oooh Baby";
    font-size: 86px;
  }

  h2 {
    color: rgb(58, 17, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Slab", serif;
  }

  #photoCategoryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid black; */
  }
  
  .photoDropdown {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
  }
  
  #image14 {
    height: 350px;
    width: 197px;
  }

.photo {
  height: 350px;
  width: 232px;
}


.photographyPhotos {
  height: 350px;
  /* border: 1px solid black; */
}
  
  #header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
  }