body {
    background-color: #e3d5ca;
  }
  
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    color: rgb(58, 17, 2);
    font-family: "Oooh Baby";
    font-size: 86px;
  }

  h2 {
    color: rgb(58, 17, 2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Slab", serif;
  }

  #photoCategoryContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: autto;
    white-space: nowrap;
    /* border: 1px solid black; */
  }

  .scrollable-wrapper {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 10px;
  }
  
  .photoDropdown {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
  }

  #image7 {
    height: 350px;
    width: 528px;
  }
  
  #image14 {
    height: 350px;
    width: 197px;
  }

  #image25, #image26 {
    height: 350px;
    width: 198px;
  }

  #image27 {
    height: 350px;
    width: 467px;
  }

  #image30 {
    height: 350px;
    width: 525px;
  }

  #image31, #image34 {
    height: 350px;
    width: 251px;
  }

  #image32 {
    height: 350px;
    width: 240px;
  }

.photo {
  height: 350px;
  width: 232px;
}


.photographyPhotos {
  height: 350px;
  /* border: 1px solid black; */
}
  
  #header {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
  }