body {
  background-color: #e3d5ca;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgb(58, 17, 2);
  font-family: "Oooh Baby";
  font-size: 86px;
  transition: color 0.3s ease, transform 0.3s ease;
}

h2 {
  display: flex;
  color: rgb(58, 17, 2);
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
}

#header {
  display: flex;
  justify-content: center;
  padding-top: 18px;
  margin: 0 auto;
}

#navbuttons {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 130px;
  font-size: 18px;
  margin-bottom: 50px;
  color: rgb(58, 17, 2);
}

#navbuttons h3 {
  cursor: pointer;
  transition: color;
}

#navbuttons h3:hover {
  color: white;
}

.portfolioImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 420px;
  height: 240px;
  border-radius: 10px;
  margin-top: 10px;
  z-index: -1;
}

.navButton {
  position: relative;
  margin-top: 20px;
}

.navButton h3:hover + .portfolioImage {
  display: block;
}

@media (max-width: 768px) {
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 76px;
  }

  h2 {
    font-size: 22px;
  }

  #header {
    margin-left: 20px;
    margin-right: 20px;
  }

  #navbuttons {
    gap: 100px;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .portfolioImage {
    width: 320px;
    height: 180px;
    display: block;
  }

  .navButton {
    width: 100%;
    text-align: center;
  }

  .navButton h3:hover + .portfolioImage {
    display: block;
  }

  #navbuttons h3 {
    font-size: 21px;
    color: white;
  }

  #cinematographyButton h3 {
    color: black !important;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 66px;
  }

  h2 {
    font-size: 18px;
  }

  #header {
    margin-left: 10px;
    margin-right: 10px;
  }

  #navbuttons {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    gap: 85px;
  }

  #navbuttons h3 {
    color: white;
  }

  #cinematographyButton h3 {
    color: black !important;
  }

  .portfolioImage {
    width: 240px;
    height: 140px;
    display: block;
  }
}