body {
  background-color: #e3d5ca;
  margin: 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgb(58, 17, 2);
  font-family: "Oooh Baby";
  font-size: 86px;
  /* border: 1px solid black; */
}

#swirl1 {
  width: 200px;
  transform: scaleX(-1);
  padding-top: 10px;
}

#swirl2 {
  width: 200px;
  padding-left: 20px;
  padding-top: 10px;
}

#header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  cursor: pointer;
}

h2 {
  color: rgb(58, 17, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
  margin-left: 40vw;
  margin-right: 40vw;
}

#maincontainer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.container {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  gap: 30px;
  row-gap: 12px;
  column-gap: 41px;
  /* border: 1px solid black; */
}

.aboutImage {
  width: 175px;
}

#photo1 {
  height: 175px;
  width: 250px;
}

#photo3 {
  width: 180;
  height: 125px;
}

#photo6 {
  width: 240px;
  height: 248px;
}

#photo7 {
  height: 220px;
  width: 320px;
}

#container2 img {
  width: 450px;
  height: 625px;
}

#container3 p {
  color: rgb(58, 17, 2);
  font-family: "Josefin Slab", serif;
  font-size: 25px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  background-color: rgb(58, 17, 2);
}

#footer h4 {
  margin-top: 8px;
}

#footer a {
  color: rgb(244, 242, 242);
  text-decoration: none;
}
