body {
  background-color: #e3d5ca;
  margin: 0;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: rgb(58, 17, 2);
  font-family: "Oooh Baby";
  font-size: 86px;
  /* border: 1px solid black; */
}

#barsContainer {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#barsContainer svg {
  width: 32px;
  height: 32px;
}

#aboutMenu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
}

#header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  cursor: pointer;
  margin-left: 740px;
  margin-right: 740px;
}

h2 {
  color: rgb(58, 17, 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
  margin-left: 40vw;
  margin-right: 40vw;
}

#maincontainer {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}

.container {
  padding: 10px;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  gap: 30px;
  row-gap: 12px;
  column-gap: 41px;
  /* border: 1px solid black; */
}

.aboutImage {
  width: 175px;
}

#photo1 {
  height: 143px;
  width: 255px;
}

#photo2 {
  height: 320px;
  width: 213px;
}

#photo3 {
  width: 180px;
  height: 125px;
}

#photo6 {
  width: 240px;
  height: 248px;
}

#photo7 {
  height: 220px;
  width: 320px;
}

#container2 img {
  width: 469px;
  height: 625px;
}

#container3 p {
  color: rgb(58, 17, 2);
  font-family: "Josefin Slab", serif;
  font-size: 25px;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  padding: 5px;
  background-color: rgb(229, 224, 222);
}

#footer h4 {
  margin-top: 8px;
}

#footer a {
  color: rgb(58, 17, 2);
  text-decoration: none;
}
