body {
  background-color: #e3d5ca;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: black;
  font-family: "Oooh Baby";
  font-size: 86px;
}

h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Slab", serif;
}

#header {
  padding-top: 10px;
}

#navbuttons {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
  font-size: 18px;
}

#navbuttons h3 {
  cursor: pointer;
}

/* #navbuttons h3:hover {
  color: #6c757d;
} */

.portfolioImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  z-index: -1;
}

.navButton {
  position: relative;
  margin-top: 20px;
}

.navButton:hover .portfolioImage {
  display: block;
}

.navButton:hover h3 {
  color: white;
  font-size: 30px;
}
